.button {
  display: block;
  width: 100%;
  padding: 10px 25px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.typical-button--long-text {
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
}
