@use "../abstract" as *;

.comparsion__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.comparsion__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.comparsion__button {
  cursor: pointer;
}

.comparsion__input {
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 6px 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}

.comparsion-photo {
  display: block;
  margin: 0 auto;
}

.comparsion__rigth {
  display: none;
}

.comparsion__input-toggle {
  position: relative;
}

@media (min-width: $tablet-width) {
  .comparsion__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 462px;
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }

  .comparsion__rigth {
    display: block;
    width: 50%;
    position: relative;
    overflow: hidden;
    min-height: 517px;
  }

  .comparsion__top {
    width: 50%;
    position: relative;
    overflow: hidden;
    min-height: 517px;
  }

  .comparsion-photo {
    position: absolute;
    width: 690px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
  }

  .comparsion-photo--before {
    left: 3px;
    top: 17px;
  }

  .comparsion-photo--after {
    right: 0;
  }

  // .comparsion__controls {
  //   margin-top: 15px;
  //   margin-bottom: 68px;
  //   padding-left: 30px;
  //   padding-right: 30px;
  // }

  // .comparsion__button {
  //   display: block;
  //   padding-bottom: 5px;
  //   padding-top: 5px;
  //   border-bottom: 1px dotted rgba(17, 17, 17, 0.23);
  //   font-size: 20px;
  // }

  // .comparsion__input {
  //   width: 428px;
  //   height: 6px;
  //   margin-left: 22px;
  //   margin-right: 22px;
  //   border-radius: 2.5px 2.5px;
  //   border: 0;
  //   background: #dcdcdc;
  // }

  .comparsion__input-switch {
    display: none;
  }

  // .comparsion__input-toggle {
  //   width: 34px;
  //   height: 34px;
  //   border-radius: 50%;
  //   background: #ffffff;
  //   border: 1px solid #cdcdcd;
  //   box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);
  //   top: 2px;
  //   left: 214px;
  //   transform: translateX(-50%) translateY(-50%);
  // }

  // .comparsion__input-toggle::before {
  //   position: absolute;
  //   content: "";
  //   width: 8px;
  //   height: 8px;
  //   border-radius: 50%;
  //   background: #68b738;
  //   top: 50%;
  //   left: 16px;
  //   margin-top: -4px;
  //   margin-left: -4px;
  // }
}

@media (min-width: $desktop-width) {
  .comparsion__wrapper {
    width: 690px;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }
}
