@use "../abstract" as *;

.comparsion__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 256px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 280px;
}

.comparsion__wrapper::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #666666;
  z-index: 1;
}

.comparsion__controls svg {
  fill: currentColor;
}

.comparsion__controls:hover {
  border-color: #68b738;
  color: #68b738;
}

.comparsion__wrapper:hover::before {
  background-color: #68b738;
}

.comparsion__controls:focus {
  border-color: #68b738;
  color: #68b738;
}

.comparsion__wrapper:focus::before {
  background-color: #68b738;
}

.comparsion__controls:active,
.comparsion__wrapper:active::before {
  border: 2px solid #68b738;
  opacity: 0.6;
}

.comparsion__controls {
  position: absolute;
  display: flex;
  top: 50%;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 2px solid #666666;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 2;
}

.comparsion__photo {
  position: absolute;
  width: 280px;
  height: 256px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
}

.comparsion__rigth {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 256px;
}

.comparsion__top {
  width: 280px;
  position: relative;
  overflow: hidden;
  min-height: 256px;
}

.comparsion__photo--before {
  left: 0;
  top: 0;
}

.comparsion__photo--after {
  right: 0;
}

@media (min-width: $tablet-width) {
  .comparsion__wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 512px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 85px;
    width: 560px;
  }

  .comparsion__rigth {
    display: block;
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 512px;
  }

  .comparsion__top {
    width: 560px;
    position: relative;
    overflow: hidden;
    min-height: 512px;
  }

  .comparsion__photo {
    position: absolute;
    width: 560px;
    min-height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
  }

  .comparsion__photo--before {
    left: 0;
    top: 2px;
  }

  .comparsion__photo--after {
    right: 0;
    top: 2px;
  }

  .comparsion__wrapper::before {
    height: 100%;
    top: 2px;
  }

  .comparsion__controls {
    top: 50.3%;
  }
}

@media (min-width: $desktop-width) {
  .comparsion__wrapper {
    width: 560px;
    min-height: 512px;
    margin-left: 139px;
    margin-top: 28px;
    padding: 0;
  }

  .comparsion__photo--before {
    left: 0;
    top: 0;
  }

  .comparsion__photo--after {
    right: 0;
    top: 0;
  }

  .comparsion__wrapper::before {
    height: 100%;
    top: 0;
  }

  .comparsion__controls {
    top: 50%;
  }
}
