@use "../abstract" as *;

.comparsion__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 256px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.comparsion__wrapper::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #666666;
  z-index: 1;
}

.comparsion__controls:hover,
.comparsion__wrapper:hover::before {
  background-color: #ffffff;
  border: 2px solid #68b738;
}

.comparsion__controls:focus,
.comparsion__wrapper:focus::before {
  background-color: #ffffff;
  border: 2px solid #68b738;
}

.comparsion__controls:active,
.comparsion__wrapper:active::before {
  background-color: #ffffff;
  border: 2px solid #68b738;
  opacity: 0.6;
}


.comparsion__controls {
  position: absolute;
  display: flex;
  top: 50%;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 2px solid #666666;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 2;
}

.comparsion-photo {
  position: absolute;
  width: 280px;
  height: 256px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
}

.comparsion__rigth {
  display: block;
  width: 50%;
  position: relative;
  overflow: hidden;
  min-height: 256px;
}

.comparsion__top {
  width: 50%;
  position: relative;
  overflow: hidden;
  min-height: 256px;
}

.comparsion-photo--before {
  left: 0;
  top: 0;
}

.comparsion-photo--after {
  right: 0;
}

@media (min-width: $tablet-width) {
  .comparsion__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 462px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 78px;
    width: 768px;
  }

  .comparsion__rigth {
    display: block;
    width: 50%;
    position: relative;
    overflow: hidden;
    min-height: 517px;
  }

  .comparsion__top {
    width: 50%;
    position: relative;
    overflow: hidden;
    min-height: 517px;
  }

  .comparsion-photo {
    position: absolute;
    width: 560px;
    min-height: 512px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
  }

  .comparsion-photo--before {
    left: 68px;
    top: 1px;
  }

  .comparsion-photo--after {
    right: 75px;
  }
}

@media (min-width: $desktop-width) {
  .comparsion__wrapper {
    width: 690px;
    min-height: 512px;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }
}
