@use "../abstract" as *;

.instructions {
  margin-bottom: 30px;
}

.instructions__wrapper {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  width: 320px;
}

.instructions__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
}

.instructions__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.instructions__item {
  position: relative;
  box-sizing: border-box;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 60px;
}

.instructions__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}

.instructions__item--icon-leaf::before {
  background-image: url("../img/icon_leaf.png");
}

.instructions__item--icon-powder::before {
  background-image: url("../img/icon_tub.png");
}

.instructions__item--icon-food::before {
  background-image: url("../img/icon_eat.png");
}

.instructions__item--icon-time::before {
  background-image: url("../img/icon_alarm.png");
}

@media (min-width: $tablet-width) {
  .instructions {
    margin-bottom: 15px;
  }

  .instructions__wrapper {
    width: 768px;
  }

  .instructions__title {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 27px;
  }

  .instructions__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    counter-reset: advantage-counter;
  }

  .instructions__item {
    font-size: 16px;
    line-height: 24px;
    width: 324px;
    min-width: 226px;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-left: 0;
    padding-right: 75px;
    padding-top: 110px;
  }

  .instructions__item::after {
    position: absolute;
    z-index: -1;
    content: counter(advantage-counter);
    counter-increment: advantage-counter;
    font-family: $oswald;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    top: -40px;
    left: 115px;
    height: 223px;
  }

  .instructions__item::before {
    top: 0;
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $desktop-width) {
  .instructions__wrapper {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .instructions__list {
    justify-content: flex-start;
  }

  .instructions__item {
    width: 245px;
    margin-bottom: 0;
    padding-right: 0;
    margin-right: 40px;
    padding-top: 112px;
    margin-left: 40px;
    min-height: 226px;
  }

  .instructions__item:first-child {
    margin-left: 0;
  }

  .instructions__item:last-child {
    margin-right: 0;
  }
}
