.main-form {
  display: block;
}

.main-form__title {
  margin: 14px auto 20px;
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
}

.main-form__button {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-family: inherit;
  border: 0;
}

.main-form__about-text {
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  margin-top: 17px;
  margin-bottom: 14px;
}
