@use "../abstract" as *;

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.main-footer__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 16px;
}

.main-footer__item:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.main-footer__item-logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__item--logo {
  align-items: center;
  padding-top: 39px;
  padding-bottom: 31px;
}

.main-footer__item-logo-academy svg {
  fill: currentColor;
}

.main-footer__item-logo-academy {
  padding-top: 22px;
  display: flex;
  flex-direction: row;
  width: 281px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-decoration: none;
  font-family: $arial;
  font-size: 16px;
  line-height: 16px;
  color: #444444;

  &:hover .main-footer__item-copyright-icon {
    color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__item-copyright-link {
  margin-top: 8px;
  text-decoration: none;
  color: #444444;
}

.main-footer__item-copyright-icon {
  color: #444444;
}

@media (max-width: $mobile-width-only) {
  .main-footer__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}


@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 55px;
  }

  .main-footer__item {
    padding: 0;
  }

  .main-footer__item:not(:last-child) {
    border: 0;
  }

  .main-footer__item--logo {
    text-align: left;
  }

  .main-footer__item-logo-academy {
    justify-content: space-between;
    height: 34px;
    width: 163px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-footer {
    display: grid;
    grid-template-areas: "map" "invitation";
  }

  .main-footer__item {
    width: 244px;
    margin: 0;
  }

  .main-footer__item-logo {
    align-self: baseline;
  }

  .main-footer__item-copyright-link {
    margin-left: 81px;
  }
}
