.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.main-footer__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 20px;
}

.main-footer__item:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.footer-social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  min-width: 130px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-social__item {
  width: 22px;
  margin-left: 17px;
  margin-right: 17px;
}

.social-icon {
  height: 19px;
  color: #666666;
}

.main-footer__item--logo {
  align-items: center;
  padding-top: 38px;
  padding-bottom: 30px;
}

.academy-logo {
  padding-top: 22px;
  display: flex;
  flex-direction: row;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.copyright-link {
  margin-top: 10px;
  text-decoration: none;
  color: #444444;
}
