@use "../abstract" as *;

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 480px;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  margin-bottom: 22px;
}

.main-content__image {
  position: relative;
  display: block;
  top: 28px;
  right: 11px;
  object-fit: cover;
}

.main-content__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  display: flex;
  width: 280px;
  margin-top: 26px;
  margin-bottom: 26px;
}

.main-content__subtitle {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 14px;
}

.main-content__button--down {
  max-width: 280px;
  margin: 32px auto 0;
  font-size: 14px;
  min-height: 40px;
  line-height: 18px;
}

.main-content::before {
  content: "";
  min-height: 302px;
  position: absolute;
  background-image: linear-gradient(#5eaa2f60, #5eaa2f40), url("../img/main-background-cat.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  top: 0;
  left: 0;
  right: 0;
  background-color: #5eaa2f;
  z-index: -1;
}

@media (min-width: $tablet-width) {
  .main-content {
    position: relative;
    align-items: flex-start;
    padding-left: 117px;
    padding-right: 120px;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: left;
    color: #111111;
    min-height: 855px;
    margin-bottom: 15px;
  }

  .main-content::before {
    background-image: none;
    background-color: transparent;
  }

  .main-content__image {
    position: absolute;
    content: "";
    order: 3;
    width: 709px;
    height: 609px;
    top: 260px;
    left: 29px;
  }

  .main-content__title {
    font: inherit;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-top: 59px;
    margin-bottom: 41px;
    width: 100%;
  }

  .main-content__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    min-height: auto;
    align-self: stretch;
    text-transform: uppercase;
    padding-left: 2px;
  }

  .main-content__button--down {
    align-items: center;
    margin: 49px 0 0 3px;
    z-index: 1;
    max-width: 244px;
    min-height: 54px;
  }

  .main-content .main-content__button {
    padding: 17px 3px 5px 27px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .main-content {
    min-height: 581px;
    margin-bottom: 80px;
    padding-top: 66px;
    padding-left: 109px;
    padding-right: 80px;
    background-size: 552px;
  }

  .main-content__image {
    order: 3;
    top: 24px;
    width: 552px;
    height: 499px;
    right: 250px;
    left: auto;
  }

  .main-content__title {
    width: 50%;
    margin: 40px 0 40px 0;
  }

  .main-content__button--down {
    margin: 52px 0 0 1px;
  }
}
