.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 480px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  background-image: url("../img//main-product-image.png"), url("../img/main-background-cat.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 280px auto, contain, auto;
  background-position-y: 167px, top, center;
  background-position-x: center, center;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 22px;
}

.main-content::before {
  content: "";
  width: 320px;
  height: 305px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5eaa2f;
  z-index: -1;
}
