@use "../abstract" as *;

.main-catalog {
  display: flex;
  flex-direction: column;
}

.main-catalog__title {
  margin: 14px auto 20px;
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $oswald;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
}

.main-catalog__list {
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 auto;
  border: 1px solid #ededed;
}

.main-catalog__product-card {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed;
  align-items: center;
}

.main-catalog__product-button {
  display: block;
  width: 100%;
  padding: 10px 25px;
  background-color: #68b738;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}

.main-catalog__title-product {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  width: 80px;
  margin: 0 0 11px 0;
}

.main-catalog__properties {
  width: 66%;
  margin-top: 20px;
}

.main-catalog__properties dt {
  float: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.main-catalog__properties dd:not(:nth-child(2)) {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.main-catalog__image {
  width: 50%;
}

@media (min-width: $tablet-width) {
  .main-catalog__title {
    font-size: 60px;
    font-weight: 400;
    border: 0;
    margin-top: 44px;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }

  .main-catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: center;
    border: 0;
    width: 768px;
  }

  .main-catalog__product-card {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 431px;
    width: 324px;
    border: 0;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
    background-color: #f2f2f2;
  }

  .main-catalog__properties {
    width: 250px;
    font-family: $arial;
    margin-left: auto;
    margin-right: auto;
    margin-top: 33px;
  }

  .main-catalog__title-product {
    width: auto;
    font-size: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 20px;
  }

  .main-catalog__properties dd:not(:nth-child(2)) {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 8px;
    padding-top: 9px;
    font-size: 16px;
  }

  .main-catalog__properties dt:not(:first-child) {
    border-bottom: 1px solid #cdcdcd;
    width: 44px;
    padding-bottom: 8px;
    padding-top: 9px;
    font-size: 16px;
  }

  .main-catalog__image {
    width: 168px;
    height: 200px;
  }

  .main-catalog__button {
    width: 250px;
    margin-top: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog__title {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 62px;
  }

  .main-catalog__list {
    width: 1300px;
    margin-bottom: 72px;
    padding-right: 40px;
    padding-left: 40px;
    justify-content: space-between;
  }

  .main-catalog__product-card {
    width: 245px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-catalog__title-product {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-catalog__properties {
    width: 170px;
  }

  .main-catalog__button {
    width: 170px;
  }
}
