@use "../abstract" as *;

.navigation {
  position: relative;
  flex-grow: 1;
}

.navigation__item {
  border-top: 1px solid #dadada;
  text-align: center;
  list-style-type: none;
}

.navigation__link {
  font-family: $oswald;
  font-weight: 700;
  display: block;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  min-height: 65px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}

.navigation__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 auto;
  min-height: 200px;
}

@media (min-width: $tablet-width) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    min-height: 52px;
    width: 440px;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 0;
    padding: 0;
    align-content: flex-start;
  }

  .navigation__link {
    font-family: $oswald;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 7px;
    min-height: 36px;
  }

  .navigation__item {
    border: 0;
  }

  .navigation__item:not(:first-child) {
    padding-left: 35px;
  }
}

.navigation__link--current {
  @media (min-width: 768px) {
    border-bottom: 2px solid #68b738;
  }
}
