@use "../abstract" as *;

.navigation {
  position: relative;
  flex-grow: 1;
  z-index: 5;
}

.navigation__item {
  border-top: 1px solid #dadada;
  text-align: center;
  list-style-type: none;
}

.navigation__link {
  font-family: $oswald;
  font-weight: 700;
  display: block;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  min-height: 65px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}

.navigation__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 auto;
  min-height: 200px;
  margin-bottom: -200px;
  background: #ffffff;
}

@media (min-width: $tablet-width) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    min-height: 36px;
    width: 442px;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 0;
    padding: 0;
    align-content: flex-start;
    margin-left: 91px;
    margin-bottom: 2px;
    background: none;
  }

  .navigation__link {
    font-family: $oswald;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-top: 2px;
    padding-bottom: 0;
    min-height: 36px;
  }

  .navigation__item {
    border: 0;
  }

  .navigation__item:not(:first-child) {
    padding-left: 35px;
  }

  .navigation__item:last-child {
    padding-left: 37px;
  }

  .navigation__link-catalog {
    padding-top: 4px;
  }

  .navigation__link--current {
    border-bottom: 2px solid #68b738;
    margin-bottom: 2px;
  }

  .navigation__link--current-catalog {
    margin-bottom: 5px;
  }

  .navigation__list--catalog {
    margin-top: 5px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__list {
    width: 500px;
    min-height: 47px;
    margin-left: auto;
  }

  .navigation__link {
    font-size: 20px;
    line-height: 30px;
  }

  .navigation__link-catalog {
    padding-top: 2px;
    padding-bottom: 5px;
  }

  .navigation__link-light {
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }

  .navigation__item:last-child {
    padding-left: 34px;
  }

  .navigation__item:not(:first-child) {
    padding-left: 36px;
  }

  .navigation__link--current-light {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
  }
}
