@use "../abstract" as *;

.page-map {
  background-image: url("../img/page-map-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-map iframe {
  width: 100%;
  height: 362px;
}

@media (min-width: $tablet-width) {
  .page-map {
    background-image: url("../img/page-map-tablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .page-map iframe {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .page-map {
    grid-area: map;
    background-image: url("../img/page-map-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
