@use "../abstract" as *;

.product-card {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    text-align: center;
    top: 47px;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    transform: rotate(90deg) translateX(-49%);
    margin-top: 15px;
    left: 45%;
  }
}

.product-card__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}

.product-card--show-all {
  text-align: center;
  padding-top: 67px;
  min-height: 208px;
}

.product-card__subtitle {
  font-family: $arial;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  width: 100%;
}

.product-card__button-light {
  background-color: #f2f2f2;
  color: #444444;
  margin: 0 auto;
  max-width: 279px;
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 431px;
    width: 324px;
    background-color: #f2f2f2;
    border: 0;
    margin-top: 100px;
    padding: 0 30px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 60px;
      top: 23%;
    }

    &::after {
      margin-top: 29px;
      left: 41%;
    }
  }

  .product-card--show-all {
    background: 0 0;
    border: 1px solid #e6e6e6;
    margin-top: 138px;
    padding-top: 65px;
    justify-content: flex-start;
  }

  .product-card__title {
    margin-top: 90px;
    margin-bottom: 25px;
    padding: 0 75px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
  }

  .product-card__button-light {
    margin-top: 74px;
  }

  .product-card__subtitle {
    font-size: 16px;
    line-height: normal;
    width: 170px;
    align-self: center;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
    padding-left: 0;
    padding-right: 0;

    &::after {
      left: 38%;
    }
  }

  .product-card__title {
    padding: 0 55px;
  }

  .product-card__button-light {
    width: 170px;
    margin-top: 74px;
  }
}
