@use "../abstract" as *;

.product-card__title {
  font-family: $oswald;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #d3d3d3;
    text-align: center;
    top: 41px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -80px;
  }

  &::after {
    transform: rotate(90deg) translateX(-49%);
    margin-top: -65px;
    left: 45%;
  }
}

.product-card--show-all {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  padding-top: 65px;
  min-height: 208px;
}

.product-card--show-all::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  transform: translateY(24px);
  border-top: 1px solid #ededed;
}

.product-card__subtitle {
  font-family: $arial;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  width: 100%;
  margin-top: 9px;
  margin-bottom: 22px;
}

.product-card__button-light {
  background-color: #f2f2f2;
  color: #444444;
  margin: 0 auto;
  max-width: 279px;
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 431px;
    width: 324px;
    background-color: #f2f2f2;
    border: 0;
    margin-top: 100px;
    padding: 0 30px;
  }

  .product-card--show-all {
    background: 0 0;
    border: 1px solid #e6e6e6;
    margin-top: 138px;
    padding-top: 65px;
    justify-content: flex-start;
  }

  .product-card__title {
    margin-top: 98px;
    margin-bottom: 24px;
    padding: 0 43px;
    width: 100%;
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
  }

  .product-card__title::after {
    margin-top: -92px;
    width: 60px;
    left: 39%;
  }

  .product-card__title::before {
    margin-top: -120px;
    width: 60px;
  }

  .product-card__button-light {
    margin-top: 86px;
    width: 249px;
  }

  .product-card__subtitle {
    font-size: 16px;
    line-height: normal;
    width: 170px;
    align-self: center;
    margin: 0 auto;
  }

  .product-card--show-all::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .product-card {
    width: 245px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 144px;
    padding-top: 59px;

    &::after {
      left: 38%;
    }
  }

  .product-card__title {
    padding: 2px 36px;
  }

  .product-card__button-light {
    width: 170px;
    margin-top: 85px;
  }

  .product-card__title::before {
    margin-top: -117px;
    width: 60px;
  }

  .product-card__title::after {
    margin-top: -89px;
    left: 38%;
  }
}
