.program-filter {
  padding: 0;
  border: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 10px;
}

.program-filter__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  list-style: none;
}

.program-filter__list--goal {
  padding: 20px 0 20px 0;
  border: 1px solid #ededed;
}

.program-filter__item {
  display: flex;
  min-height: 30px;
  align-items: center;
  margin-bottom: 13px;
}

.program-filter__control-label {
  padding-left: 45px;
}

@media (min-width: 768px) {
  .program-filter {
    border: 0;
    margin-bottom: 52px;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 30px;
  }

  .program-filter__list {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 628px;
  }

  .program-filter__item {
    padding-left: 28px;
    min-height: 40px;
  }
}
