@use "../abstract" as *;

.programs {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.programs__item-selection {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.programs__item {
  position: relative;
  background-color: #f2f2f2;
  color: #111111;
  min-height: 266px;
  padding: 20px;
}

.programs__item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 25px;
  left: 22px;
}

.programs__item--weight-loss::after {
  background-image: url("../img/cat-slim.svg");
  top: 21px;
  left: 29px;
  width: 35px;
  height: 50px;
}

.programs__item::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.programs__item--weight-gain::after {
  background-image: url("../img/cat-pro.svg");
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
}

.programs__title {
  margin-left: 71px;
  margin-top: 14px;
  margin-bottom: 34px;
  text-transform: uppercase;
  text-align: left;
  font-size: 24px;
}

.programs__text {
  margin-bottom: 22px;
  text-align: left;
  font-family: $arial;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.programs__link {
  position: relative;
  display: block;
  padding-top: 19px;
  padding-right: 145px;
  border-top: 1px solid #d9d9d9;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
}

.programs__link::after {
  position: absolute;
  content: "";
  width: 33px;
  height: 11px;
  background-image: url("../img/icon_arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  right: 110px;
  top: 25px;
}

@media (min-width: $tablet-width) {
  .programs {
    width: 708px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 45px;
  }

  .programs__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 56px 275px 56px 55px;
  }

  .programs__item::before {
    width: 200px;
    height: 200px;
    right: 62px;
    left: auto;
    top: 92px;
  }

  .programs__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 37px;
    margin-top: 20px;
    margin-bottom: 24px;
    margin-left: 0;
  }

  .programs__text {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  .programs__item--weight-loss::after {
    width: 140px;
    height: 194px;
    left: auto;
    right: 92px;
    top: 80px;
  }

  .programs__item--weight-gain::after {
    width: 268px;
    height: 112px;
    left: auto;
    right: 28px;
    top: 135px;
  }
}


@media (min-width: $desktop-width) {
  .programs {
    width: 1280px;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-left: 40px;
    padding-right: 40px;
  }

  .programs__item {
    width: 570px;
    min-height: 370px;
  }

  .programs__item::before {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }

  .programs__item--weight-loss::after {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 66px;
  }

  .programs__title {
    margin-bottom: 75px;
    padding-left: 163px;
  }

  .programs__text {
    margin-bottom: 20px;
    min-width: 466px;
  }

  .programs__link {
    padding-top: 9px;
    align-self: flex-start;
    border: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .programs__link::after {
    top: 19px;
    left: 127px;
  }

  .programs__item--weight-gain::after {
    width: 134px;
    height: 56px;
    top: 69px;
    left: 34px;
  }
}
