@use "../abstract" as *;

.selection-form-optional {
  position: relative;
}

.selection-form-optional::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 15px;
  border-top: 2px solid #68b738;
  z-index: 0;
}

.selection-form-optional__title {
  text-transform: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  width: 183px;
  align-self: flex-start;
  position: relative;
  padding-left: 20px;
  margin-left: calc((100% - 320px) / 2);
  margin-bottom: 35px;
  background: #ffffff;
}

.selection-form-optional__wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: $oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  padding: 0;
  border: 0;
}

.selection-form-optional__wrapper--elevated {
  margin-top: -2px;
}

.selection-form-optional__text:active {
  opacity: 0.3;
}

.selection-form-optional__list-preferences {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}

.selection-form-optional__filter-item {
  position: relative;
  min-height: 30px;
  align-items: center;
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
}

.selection-form-optional__control {
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.selection-form-optional__control::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  left: 0;
  top: 0;
}

.selection-form-optional__control:hover::before {
  border-color: #bababa;
}

.selection-form-optional__control:active::before {
  opacity: 0.3;
}

.selection-form-optional__input:checked + .selection-form-optional__text::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 21px 16px;
  background-position: center center;
  top: 0;
  left: 0;
}

.selection-form-optional__input {
  display: none;
}

@media (min-width: $tablet-width) {
  .selection-form-optional {
    margin-top: 60px;
  }

  .selection-form-optional::before {
    top: 22px;
  }

  .selection-form-optional__title {
    text-transform: none;
    font-size: 36px;
    line-height: 36px;
    width: 292px;
    position: relative;
    padding-left: 39px;
    margin-top: 0;
    margin-left: calc((100% - 768px) / 2 + 31px);
    background: #ffffff;
  }

  .selection-form-optional__list-preferences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: $padding-tablet-form;
    padding-right: $padding-tablet-form;
    margin-top: 21px;
  }

  .selection-form-optional__filter-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 284px;
    margin-bottom: 32px;
    min-height: 40px;
  }

  .selection-form-optional__input:checked + .selection-form-optional__text::after {
    top: 8px;
    left: 5px;
  }

  .selection-form-optional__control::before {
    width: 40px;
    height: 40px;
    top: 0;
  }

  .selection-form-optional__text {
    padding-left: 14px;
  }

  .selection-form-optional__button {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 708px;
    margin: 1px auto 67px;
    padding-left: 41px;
    padding-right: $padding-tablet-form;
  }
}

@media (min-width: $desktop-width) {
  .selection-form-optional__wrapper {
    margin: 0;
  }

  .selection-form-optional {
    margin-top: 63px;
  }

  .selection-form-optional::before {
    top: 23px;
  }

  .selection-form-optional__title {
    width: 292px;
    position: relative;
    padding-left: 40px;
    margin-bottom: 57px;
    margin-left: calc((100% - 1280px) / 2 + -10px);
    background: #ffffff;
  }

  .selection-form-optional__list-preferences {
    padding: 0;
    margin: 0;
    justify-content: flex-start;
  }

  .selection-form-optional__filter-item {
    width: 221px;
    padding-right: 0;
    margin-bottom: 18px;
  }

  .selection-form-optional__filter-item:not(:last-child) {
    margin-right: 104px;
  }

  .selection-form-optional__text {
    padding-left: 14px;
  }

  .selection-form-optional__button {
    margin-top: 21px;
    margin-bottom: 77px;
    width: 1220px;
    padding-left: 1px;
  }
}
