@use "../abstract" as *;

.select-program-owner {
  position: relative;
}

.select-program-owner::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 18px;
  border-top: 2px solid #68b738;
  z-index: 0;
}

.select-program-owner__title {
  width: 221px;
  text-transform: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #111111;
  margin-bottom: 35px;
  margin-left: calc((100% - 320px) / 2);
  padding-left: 20px;
  background: #ffffff;
  position: relative;
}

.select-program-owner__wrapper {
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 0;
  text-transform: uppercase;
  color: #222222;
}

.select-program-owner-line {
  border-top: 3px solid #68b738;
  margin-top: 26px;
}

.select-program-owner__field {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 14px;
}

.select-program-owner__field-control {
  flex-grow: 1;
  width: 50%;
  height: 45px;
  margin-left: 15px;
  padding: 12px 13px;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
  font-family: inherit;
}

@media (min-width: $tablet-width) {
  .select-program-owner {
    margin-top: 65px;
    position: relative;
  }

  .select-program-owner__wrapper {
    font-size: 20px;
    line-height: 20px;
    width: 708px;
  }

  .select-program-owner__title {
    font-size: 36px;
    line-height: 36px;
    width: 594px;
    font-weight: 400;
    padding-left: 30px;
    margin-top: 0;
    margin-left: calc((100% - 768px) / 2 + 40px);
    margin-bottom: 77px;
    position: relative;
  }

  .select-program-owner__field {
    padding-left: $padding-tablet-form;
    padding-right: $padding-tablet-form;
    margin-bottom: 20px;
  }

  .select-program-owner__field-control {
    height: 52px;
    padding: 14px 20px 13px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .select-program-owner__title {
    padding-left: 30px;
    margin-left: calc((100% - 1280px) / 2);
    position: relative;
  }

  .select-program-owner__wrapper {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-right: 0;
  }

  .select-program-owner__field {
    width: 569px;
    padding: 0;
  }
}
