@use "../abstract" as *;

.selection-form-comment {
  position: relative;
}

.selection-form-comment::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 18px;
  border-top: 2px solid #68b738;
  z-index: 0;
}

.selection-form-comment__title {
  position: relative;
  text-transform: none;
  font-size: 24px;
  line-height: 24px;
  width: 161px;
  padding-left: 20px;
  margin-left: calc((100% - 320px) / 2);
  background: #ffffff;
}

.selection-form-comment__wrapper {
  box-sizing: border-box;
  text-transform: uppercase;
  width: 320px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 0;
  list-style: none;
}

.selection-form-comment__wrapper--elevated {
  margin-top: 37px;
}

.selection-form-comment__text-field {
  margin-bottom: 14px;
  width: 280px;
  min-height: 150px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  height: 45px;
  padding: 12px 13px;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .selection-form-comment {
    position: relative;
  }

  .selection-form-comment__wrapper {
    width: 768px;
    margin-top: 49px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .selection-form-comment__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    padding-left: 30px;
    margin-left: calc((100% - 768px) / 2);
    width: 259px;
  }

  .selection-form-comment__wrapper--elevated {
    margin-top: 76px;
  }

  .selection-form-comment__text-field {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-family: $oswald;
    min-height: 174px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .selection-form-comment__wrapper {
    width: 1300px;
    margin-top: 69px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .selection-form-comment__title {
    padding-left: 40px;
    margin-left: calc((100% - 1300px) / 2);
    width: 259px;
  }
}

