.selection-form-optional {
  padding: 0;
  border: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 10px;
}

.selection-form-optional__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 0;
  list-style: none;
}

.selection-form-optional__title {
  padding-left: 20px;
  padding-right: 20px;
  text-transform: none;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  margin-bottom: 35px;
  background: #ffffff;
  width: auto;
  max-width: 221px;
  align-self: flex-start;
}

.selection-form-optional__line {
  border-top: 3px solid #68b738;
  margin-top: 17px;
  padding-right: 6px;
}

.selection-form-optional__wrapper--elevated {
  margin-top: -37px;
}

.selection-form-optional__list-preferences {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}

.selection-form-optional__filter-item {
  min-height: 30px;
  align-items: center;
  margin-bottom: 13px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
}

.selection-form-optional__control {
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
}

