@use "../abstract" as *;

.stats {
  background-color: #f2f2f2;
  overflow: hidden;
}

.stats__title {
  box-sizing: border-box;
  font-family: $oswald;
  font-size: 36px;
  line-height: 60px;
}

.stats__comparsion {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .stats {
    border-top: 1px solid #e6e6e6;
    background: linear-gradient(#ffffff 50%, #eaeaea 50%);
  }

  .stats__title {
    font-size: 60px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
    padding-top: 5px;
    margin-bottom: 20px;
  }

  .example__list {
    width: 100%;
  }

  .example__item {
    margin-right: 42px;
    width: auto;
  }

  .example__result {
    width: 162px;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    height: 72px;
    padding-top: 14px;
  }

  .example__result-text {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    width: auto;
  }

  .example__item--last {
    margin-top: 0;
    padding-top: 5px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .example__total {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    height: auto;
    padding-top: 7px;
  }
}

@media (min-width: $desktop-width) {
  .stats {
    margin-top: 69px;
    padding-bottom: 30px;
    border: 0;
    background: linear-gradient(#ffffff 22%, #eaeaea 23%);
  }

  .stats__title {
    margin-top: 0;
    margin-bottom: 132px;
  }

  .stats__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .stats__example {
    flex-grow: 1;
  }

  .example__text {
    width: 465px;
    margin-right: 56px;
    margin-bottom: 57px;
    padding-top: 0;
  }

  .example__result-text {
    background-color: #e5e5e5;
  }

  .example__list {
    width: 370px;
    margin: 0;
  }

  .example__item {
    margin-right: 0;
  }

  .example__item--last {
    width: 100%;
    flex-direction: row;
    margin-top: 33px;
    padding-top: 0;
  }

  .example__total--value {
    width: 162px;
    text-align: center;
    margin-left: 30px;
  }

  .stats__comparsion {
    width: 560px;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
  }
}
