.stats {
  background-color: #f2f2f2;
  min-width: 320px;
}

.stats__comparsion {
  width: 100%;
  margin: 0 auto;
}

.stats__example {
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  padding-left: 20px;
  margin: 0 auto;
  padding-right: 20px;
}
