.main-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 66px;
  width: 320px;
  margin: 0 auto;
}

.main-content__title {
  margin-top: 26px;
  margin-bottom: 26px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald Regular", "Arial", sans-serif;
}

.main-content__subtitle {
  font-family: "Oswald Regular", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  min-height: 180px;
}

.navigation__item {
  border-top: 1px solid #dadada;
  text-align: center;
  list-style-type: none;
}

.navigation__link {
  font-family: "Oswald Medium", "Arial", sans-serif;
  display: block;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  min-height: 65px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}

.navigation__list {
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 auto;
  min-height: 200px;
}

@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald Regular";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald Medium";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-weight: 400;
  position: relative;
  margin: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header__logo {
  text-decoration: none;
  color: #000000;
}

.main-header__logo-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-header__button {
  position: relative;
  width: 24px;
  height: 18px;
  border: none;
  appearance: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.main-header__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 480px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  background-image: url("../img//main-product-image.png"), url("../img/main-background-cat.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 280px auto, contain, auto;
  background-position-y: 167px, top, center;
  background-position-x: center, center;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 22px;
}

.main-content::before {
  content: "";
  width: 320px;
  height: 305px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #5eaa2f;
  z-index: -1;
}

.typical-button {
  display: block;
  width: auto;
  padding: 10px 25px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.quick-start__button {
  margin-top: 135px;
}

.typical-button--long-text {
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.programs {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.programs-selection__item {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.programs__item {
  position: relative;
  background-color: #f2f2f2;
  color: #111111;
  min-height: 266px;
  padding: 20px;
}

.programs__item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 25px;
  left: 22px;
}

.programs__item--weight-loss::after {
  background-image: url("../img/cat-slim.svg");
  top: 21px;
  left: 29px;
  width: 35px;
  height: 50px;
}

.programs__item::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.programs__item--weight-gain::after {
  background-image: url("../../img/cat-pro.svg");
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
}

.programs__title {
  margin-left: 71px;
  margin-top: 14px;
  margin-bottom: 34px;
  text-transform: uppercase;
  text-align: left;
  font-size: 24px;
}

.programs__text {
  margin-bottom: 22px;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.programs__link {
  position: relative;
  display: block;
  padding-top: 19px;
  padding-right: 145px;
  border-top: 1px solid #d9d9d9;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
}

.programs__link::after {
  position: absolute;
  content: "";
  width: 33px;
  height: 11px;
  background-image: url("../img/icon_arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  right: 110px;
  top: 25px;
}

.instructions {
  margin-bottom: 30px;
}

.instructions__wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 320px;
}

.instructions__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
}

.instructions__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.instructions__item {
  position: relative;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 60px;
}

.instructions__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}

.instructions__item--icon-leaf::before {
  background-image: url("../../img/icon_leaf.png");
}

.instructions__item--icon-powder::before {
  background-image: url("../../img/icon_tub.png");
}

.instructions__item--icon-food::before {
  background-image: url("../../img/icon_eat.png");
}

.instructions__item--icon-time::before {
  background-image: url("../../img/icon_alarm.png");
}

.wrapper-example {
  background-color: #f2f2f2;
  min-width: 320px;
}

.example__title {
  box-sizing: border-box;
  width: 320px;
  padding: 18px 20px 23px 0;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
  margin: 0 auto;
}

.example {
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  margin: 0 auto;
  padding-right: 25px;
}

.example__text {
  padding-top: 0;
  margin-bottom: 25px;
  min-height: 108px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.example__list {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 0;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
}

.example__result {
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  padding-top: 14px;
  padding-bottom: 18px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.example__result-text {
  width: 87px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin-top: -8px;
  background-color: #f2f2f2;
}

.example__item--last {
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  height: auto;
  width: auto;
  align-items: baseline;
}

.example__total {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  width: auto;
  padding: 0;
  height: auto;
  margin-top: 0;
}

.comparsion {
  width: 100%;
  margin: 0 auto;
}

.comparsion__wrapper {
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.comparsion__controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 35px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.comparsion__button {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  font-family: "Oswald Regular", "Arial", sans-serif;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  background: 0 0;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}

.comparsion__input {
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 6px 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
}

.invitation {
  box-sizing: border-box;
  padding: 28px 20px 26px;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #f2f2f2;
}

.invitation-text {
  margin: 0 auto;
}

.invitation__title {
  width: 50%;
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.invitation__text {
  width: 50%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

.page-map,
.page-map iframe {
  width: 100%;
  height: 362px;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 280px;
}

.main-footer__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 20px;
}

.main-footer__item:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.footer-social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  min-width: 130px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-social__item {
  width: 22px;
  margin-left: 17px;
  margin-right: 17px;
}

.social-icon {
  height: 19px;
  color: #666666;
}

.main-footer__item--logo {
  align-items: center;
  padding-top: 38px;
  padding-bottom: 30px;
}

.academy-logo {
  padding-top: 22px;
  display: flex;
  flex-direction: row;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.copyright-link {
  margin-top: 10px;
  text-decoration: none;
  color: #444444;
}

.main-catalog {
  display: flex;
  flex-direction: column;
}

.main__title {
  margin: 14px auto 20px;
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
}

.main-catalog__list {
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 auto;
  border: 1px solid #ededed;
}

.product-card {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed;
  align-items: center;
}

.product__button {
  display: block;
  width: 100%;
  padding: 10px 25px;
  background-color: #68b738;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}

.product__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  width: 80px;
  margin: 0 0 11px 0;
}

.product__properties {
  width: 50%;
  margin-top: 20px;
}

.product__properties dt {
  float: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.product__properties dd:not(:nth-child(2)) {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.catalog__image {
  width: 50%;
}

.product-card__title {
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}

.product-card--show-all {
  text-align: center;
  padding-top: 67px;
  min-height: 208px;
}

.products-card__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  width: 100%;
}

.product__button--light {
  background-color: #f2f2f2;
  color: #444444;
  margin-top: auto;
}

.additional__title {
  margin: auto 0;
  font-size: 24px;
  line-height: 24px;
  background: #ffffff;
  box-sizing: border-box;
  width: 320px;
  padding: 30px 20px 34px;
}

.additional__wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.additional__table {
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0 auto;
  flex-grow: 1;
  text-align: left;
  max-width: 280px;
  border-top: 1px solid #cdcdcd;
  min-height: 130px;
}

.additional__table td {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  width: 50%;
  text-align: left;
}

.additional__table td:nth-child(3) {
  text-align: right;
}

.additional__table th {
  width: 100%;
  flex-grow: 1;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 13px;
}

.additional__table:last-child {
  border-bottom: 1px solid #cdcdcd;
}

.additional__table tr:nth-child(4) {
  border-bottom: 1px solid #cdcdcd;
}

.gift {
  display: flex;
  flex-direction: column;
  padding: 45px;
  min-height: 289px;
  width: auto;
  background-color: #68b738;
  background-image: url("../../img/main-background-cat.jpg");
  background-size: 280px auto cover;
  background-repeat: no-repeat;
  margin-top: 35px;
  margin-bottom: 35px;
}

.gift__text {
  display: block;
  margin-top: auto;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 90px;
}

.main-form {
  display: block;
}

.main-form__title {
  margin: 14px auto 20px;
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
}

.select-program__title {
  padding-right: 50px;
  margin: 25px auto 40px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
}

.main-form__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.select-program {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.selection-form {
  padding: 0;
  border: 0;
  font-family: "Oswald Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 10px;
}

.selection-form__wrapper {
  box-sizing: border-box;
  width: 320px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 0;
  list-style: none;
}

.selection-form__item {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: baseline;
  margin-bottom: 14px;
}

.select-program__field {
  flex-shrink: 0;
  margin-bottom: 14px;
}

.select-program__field-control {
  flex-grow: 1;
  width: 50%;
  height: 45px;
  margin-left: 15px;
  padding: 12px 13px;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
  font-family: inherit;
}

.program-filter__list {
  border: 1px solid #ededed;
  padding-top: 20px;
  padding-bottom: 20px;
}

.program-filter__item {
  min-height: 30px;
  align-items: center;
  margin-bottom: 13px;
}

.control {
  padding-left: 45px;
}

.selection-form__title {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  margin-bottom: 35px;
  background-color: #ffffff;
  align-self: flex-start;
}

.selection-form__text-field {
  margin-bottom: 14px;
  width: 280px;
  min-height: 150px;
  margin-left: auto;
  margin-right: auto;
  flex-grow: 1;
  height: 45px;
  padding: 12px 13px;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
}

.program-filter__list-preferences {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}

.product__button-position {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  font-family: inherit;
}

.form-about-text {
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  margin-top: 17px;
  margin-bottom: 14px;
}
/*# sourceMappingURL=style.css.map */