body {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  position: relative;
  margin: 0;
  min-width: 320px;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media (max-width: 767px) {
  .main-header {
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px solid #d9d9d9;
  }
}

.main-header__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 52px;
  margin: 0 auto;
}

.main-header__logo {
  position: relative;
}

.main-header__logo-text {
  position: absolute;
  left: 50%;
  margin-left: 12px;
  top: 50%;
  transform: translate(-50%, -50%);
}

.main-header__button {
  position: relative;
  width: 24px;
  height: 18px;
  border: none;
  -webkit-appearance: none;
          appearance: none;
  background-color: transparent;
  cursor: pointer;
}

.main-header__navigation--closed .main-header__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}

.main-header__navigation--closed .main-header__button:active::before {
  background-color: #575757;
  opacity: 0.3;
  box-shadow: 0 8px 0 0 #575757, 0 16px 0 0 #575757;
}

.main-header__navigation--open .main-header__button {
  top: 10px;
  position: absolute;
  right: 64px;
  width: 0;
  padding: 0;
}
.main-header__navigation--open .main-header__button::before, .main-header__navigation--open .main-header__button::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 18px;
  width: 25px;
  height: 2px;
  background-color: #222222;
}
.main-header__navigation--open .main-header__button::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-header__navigation--open .main-header__button::after {
  transform: rotate(-45deg);
  box-shadow: none;
}
.main-header__navigation--open .main-header__button:active::before, .main-header__navigation--open .main-header__button:active::after {
  background-color: rgba(1, 1, 1, 0.3);
  box-shadow: none;
}

.main-header__navigation--closed .navigation {
  display: none;
}

@media (min-width: 768px) {
  .main-header {
    margin-top: 24px;
  }

  .main-header__navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    min-height: 52px;
  }

  .main-header__wrapper {
    min-width: 174px;
    padding: 0;
  }

  .main-header__logo-text {
    display: none;
  }

  .main-header__button {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-header {
    margin-top: 53px;
  }

  .main-header__wrapper {
    margin: 0;
  }
}
.navigation {
  position: relative;
  flex-grow: 1;
}

.navigation__item {
  border-top: 1px solid #dadada;
  text-align: center;
  list-style-type: none;
}

.navigation__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 700;
  display: block;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 22px;
  min-height: 65px;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #333333;
}

.navigation__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 auto;
  min-height: 200px;
}

@media (min-width: 768px) {
  .navigation__list {
    display: flex;
    flex-direction: row;
    min-height: 52px;
    width: 440px;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 0;
    padding: 0;
    align-content: flex-start;
  }

  .navigation__link {
    font-family: "Oswald", "Arial", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-top: 11px;
    padding-bottom: 7px;
    min-height: 36px;
  }

  .navigation__item {
    border: 0;
  }

  .navigation__item:not(:first-child) {
    padding-left: 35px;
  }

  .navigation__link--current {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1280px) {
  .navigation__link-light {
    color: #ffffff;
  }

  .navigation__link--current-light {
    border-bottom: 2px solid #ffffff;
  }
}
.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 480px;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  margin-bottom: 22px;
}

.main-content__image {
  position: relative;
  display: block;
  top: 21px;
  margin: 0 auto;
}

.main-content__title {
  font-size: 36px;
  line-height: 36px;
  display: flex;
  width: 280px;
  margin: 26px auto;
}

.main-content__button--down {
  max-width: 280px;
  margin: 20px auto 0;
}

.main-content::before {
  content: "";
  min-height: 305px;
  position: absolute;
  background-image: linear-gradient(#5eaa2f60, #5eaa2f40), url("../img/main-background-cat.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  top: 0;
  left: 0;
  right: 0;
  background-color: #5eaa2f;
  z-index: -1;
}

@media (min-width: 768px) {
  .main-content {
    position: relative;
    align-items: flex-start;
    padding-left: 120px;
    padding-right: 120px;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: left;
    color: #111111;
    min-height: 855px;
  }

  .main-content::before {
    background-image: none;
    background-color: transparent;
  }

  .main-content__image {
    position: absolute;
    content: "";
    order: 3;
    width: 709px;
    height: 609px;
    top: 256px;
    left: 59px;
  }

  .main-content__title {
    font: inherit;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    margin-top: 62px;
    margin-bottom: 38px;
    width: 100%;
  }

  .main-content__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    min-height: auto;
    text-transform: uppercase;
  }

  .main-content__button--down {
    margin: 42px 0 0 0;
    z-index: 1;
  }
}
@media (min-width: 1280px) {
  .main-content {
    min-height: 581px;
    margin-bottom: 80px;
    padding-top: 62px;
    padding-left: 120px;
    padding-right: 80px;
    background-size: 552px;
  }

  .main-content__image {
    order: 3;
    top: 46px;
    width: 552px;
    height: 499px;
    right: 250px;
    left: auto;
  }

  .main-content__title {
    width: 50%;
    margin: 40px 0 40px 0;
  }
}
.button {
  display: block;
  width: 100%;
  padding: 10px 25px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.programs {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.programs__item-selection {
  margin-bottom: 20px;
  box-sizing: border-box;
}

.programs__item {
  position: relative;
  background-color: #f2f2f2;
  color: #111111;
  min-height: 266px;
  padding: 20px;
}

.programs__item::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  top: 25px;
  left: 22px;
}

.programs__item--weight-loss::after {
  background-image: url("../img/cat-slim.svg");
  top: 21px;
  left: 29px;
  width: 35px;
  height: 50px;
}

.programs__item::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
}

.programs__item--weight-gain::after {
  background-image: url("../img/cat-pro.svg");
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
}

.programs__title {
  margin-left: 71px;
  margin-top: 14px;
  margin-bottom: 34px;
  text-transform: uppercase;
  text-align: left;
  font-size: 24px;
}

.programs__text {
  padding-bottom: 22px;
  text-align: left;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.programs__text br {
  display: none;
}

.programs__link {
  position: relative;
  padding-top: 19px;
  padding-right: 145px;
  border-top: 1px solid #d9d9d9;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  cursor: pointer;
}

.programs__link::after {
  position: absolute;
  content: "";
  width: 33px;
  height: 11px;
  background-image: url("../img/icon_arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  right: 93px;
  top: 25px;
}

@media (min-width: 768px) {
  .programs {
    margin-bottom: 45px;
  }

  .programs__item {
    min-height: 372px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 56px 275px 56px 55px;
  }

  .programs__item::before {
    width: 200px;
    height: 200px;
    right: 62px;
    left: auto;
    top: 92px;
  }

  .programs__title {
    font-size: 36px;
    font-weight: 400;
    line-height: 37px;
    margin-top: 20px;
    margin-bottom: 24px;
    margin-left: 0;
  }

  .programs__text {
    margin-top: 0;
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }

  .programs__text br {
    display: block;
  }

  .programs__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    border: 0;
  }

  .programs__link::after {
    top: 29px;
  }

  .programs__item--weight-loss::after {
    width: 140px;
    height: 194px;
    left: auto;
    right: 92px;
    top: 80px;
  }

  .programs__item--weight-gain::after {
    width: 268px;
    height: 112px;
    left: auto;
    right: 28px;
    top: 135px;
  }
}
@media (min-width: 1280px) {
  .programs {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .programs__item {
    width: 570px;
    min-height: 370px;
  }

  .programs__item::before {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }

  .programs__item--weight-loss::after {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 66px;
  }

  .programs__title {
    margin-bottom: 75px;
    padding-left: 163px;
  }

  .programs__text {
    margin-bottom: 20px;
    min-width: 466px;
  }

  .programs__text br {
    display: none;
  }

  .programs__link {
    padding-top: 9px;
    align-self: flex-start;
    border: 0;
    font-size: 20px;
    line-height: 30px;
  }

  .programs__link::after {
    top: 19px;
    left: 127px;
  }

  .programs__item--weight-gain::after {
    width: 134px;
    height: 56px;
    top: 69px;
    left: 34px;
  }
}
.instructions {
  margin-bottom: 30px;
}

.instructions__title {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
}

.instructions__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}

.instructions__item {
  position: relative;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 60px;
}

.instructions__item::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}

.instructions__item--icon-leaf::before {
  background-image: url("../img/icon_leaf.png");
}

.instructions__item--icon-powder::before {
  background-image: url("../img/icon_tub.png");
}

.instructions__item--icon-food::before {
  background-image: url("../img/icon_eat.png");
}

.instructions__item--icon-time::before {
  background-image: url("../img/icon_alarm.png");
}

@media (min-width: 768px) {
  .instructions {
    margin-bottom: 0;
  }

  .instructions__title {
    font-size: 60px;
    font-weight: 400;
    margin-bottom: 27px;
  }

  .instructions__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    width: 633px;
    counter-reset: advantage-counter;
  }

  .instructions__item {
    font-size: 16px;
    line-height: 24px;
    width: 230px;
    margin-top: 45px;
    margin-bottom: 45px;
    padding-left: 0;
    padding-right: 75px;
    padding-top: 110px;
  }

  .instructions__item::after {
    position: absolute;
    z-index: -1;
    content: counter(advantage-counter);
    counter-increment: advantage-counter;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
    top: -40px;
    left: 115px;
    height: 223px;
  }

  .instructions__item::before {
    top: 0;
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 1280px) {
  .instructions__list {
    justify-content: space-between;
    width: auto;
  }

  .instructions__item {
    width: 246px;
    margin-bottom: 0;
    padding-right: 0;
    padding-top: 112px;
    min-height: 226px;
  }

  .instructions__item:first-child {
    margin-left: 0;
  }

  .instructions__item:last-child {
    margin-right: 0;
  }
}
.example__title {
  box-sizing: border-box;
  width: 320px;
  padding: 18px 20px 23px 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
  margin: 0 auto;
}

.example__text {
  padding-top: 0;
  margin-bottom: 25px;
  min-height: 108px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}

.example__list {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 0;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 124px;
}

.example__result {
  width: 124px;
  height: 56px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  font-size: 24px;
  line-height: 24px;
  color: #111111;
  padding-top: 14px;
  padding-bottom: 18px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.example__result-text {
  width: 87px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  margin-top: -8px;
  background-color: #f2f2f2;
}

.example__item--last {
  flex-direction: row;
  justify-content: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  height: auto;
  width: auto;
  align-items: baseline;
}

.example__total {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #111111;
  width: auto;
  padding: 0;
  height: auto;
  margin-top: 0;
}

.comparsion__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: 256px;
  width: 320px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.comparsion__wrapper::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #666666;
  z-index: 1;
}

.comparsion__controls:hover,
.comparsion__wrapper:hover::before {
  background-color: #ffffff;
  border: 2px solid #68b738;
}

.comparsion__controls:focus,
.comparsion__wrapper:focus::before {
  background-color: #ffffff;
  border: 2px solid #68b738;
}

.comparsion__controls:active,
.comparsion__wrapper:active::before {
  background-color: #ffffff;
  border: 2px solid #68b738;
  opacity: 0.6;
}

.comparsion__controls {
  position: absolute;
  display: flex;
  top: 50%;
  align-items: center;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 2px solid #666666;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 2;
}

.comparsion-photo {
  position: absolute;
  width: 280px;
  height: 256px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
}

.comparsion__rigth {
  display: block;
  width: 50%;
  position: relative;
  overflow: hidden;
  min-height: 256px;
}

.comparsion__top {
  width: 50%;
  position: relative;
  overflow: hidden;
  min-height: 256px;
}

.comparsion-photo--before {
  left: 19px;
  top: 3px;
}

.comparsion-photo--after {
  right: 15px;
}

@media (min-width: 768px) {
  .comparsion__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 462px;
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }

  .comparsion__rigth {
    display: block;
    width: 50%;
    position: relative;
    overflow: hidden;
    min-height: 517px;
  }

  .comparsion__top {
    width: 50%;
    position: relative;
    overflow: hidden;
    min-height: 517px;
  }

  .comparsion-photo {
    position: absolute;
    width: 690px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;
  }

  .comparsion-photo--before {
    left: 3px;
    top: 17px;
  }

  .comparsion-photo--after {
    right: 0;
  }
}
@media (min-width: 1280px) {
  .comparsion__wrapper {
    width: 690px;
    min-height: 629px;
    margin-left: 0;
    margin-top: 0;
    padding: 0;
  }
}
.invitation-wrapper {
  background: #f2f2f2;
}

.invitation {
  box-sizing: border-box;
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 20px 26px;
}

.invitation-text {
  margin: 0 auto;
}

.invitation__title {
  width: 50%;
  margin: 0;
  text-transform: uppercase;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.invitation__text {
  width: 50%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}

@media (min-width: 768px) {
  .invitation {
    padding-top: 65px;
    padding-bottom: 37px;
    padding-left: 30px;
    padding-right: 30px;
    width: 768px;
  }

  .invitation__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    width: 300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .invitation__text {
    font-size: 16px;
    line-height: 20px;
    width: 270px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: right;
  }
}
@media (min-width: 1280px) {
  .invitation {
    grid-area: map;
    background-color: #ffffff;
    padding: 56px 80px 56px 80px;
    width: 565px;
    margin-left: calc((100% - 1220px) / 2);
    z-index: 1;
    align-self: center;
  }
}
.page-map,
.page-map iframe {
  width: 100%;
  height: 362px;
}

@media (min-width: 1280px) {
  .page-map {
    grid-area: map;
  }
}
@media (min-width: 1280px) {
  .main-page {
    position: relative;
  }

  .main-page__background::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 694px;
    top: -117px;
    right: 0;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
  }
}
@media (min-width: 1280px), (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1280px) and (min-resolution: 144dpi), (min-width: 1280px) and (min-resolution: 1.5dppx) {
  .main-page__background::before {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/index-background-desktop@2x.jpg");
  }
}
.main-footer__wrapper {
  display: flex;
  flex-direction: column;
}

.main-footer__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;
  padding-top: 22px;
  padding-bottom: 20px;
}

.main-footer__item:not(:last-child) {
  border-bottom: 1px solid #d9d9d9;
}

.footer-social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  min-width: 130px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-social__item {
  width: 22px;
  margin-left: 17px;
  margin-right: 17px;
}

.social-icon {
  height: 19px;
  color: #666666;
}

.main-footer__item--logo {
  align-items: center;
  padding-top: 38px;
  padding-bottom: 30px;
}

.academy-logo {
  padding-top: 22px;
  display: flex;
  flex-direction: row;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.copyright-link {
  margin-top: 10px;
  text-decoration: none;
  color: #444444;
}

@media (max-width: 767px) {
  .main-footer__wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 55px;
  }

  .footer-social__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
    width: 132px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-social__item {
    width: 24px;
    margin: 0;
  }

  .main-footer__item {
    padding: 0;
  }

  .main-footer__item:not(:last-child) {
    border: 0;
  }

  .main-footer__item--logo {
    text-align: left;
  }

  .academy-logo {
    justify-content: space-between;
    height: 34px;
    width: 163px;
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1280px) {
  .main-footer {
    display: grid;
    grid-template-areas: "map" "invitation";
  }

  .main-footer__item {
    width: 244px;
    margin: 0;
  }

  .footer-logo {
    align-self: baseline;
  }
}
.main-catalog {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
}

.main-catalog__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: #111111;
  margin: 0 0 41px 0;
}

.main-catalog__list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 auto;
  width: 280px;
}

.main-catalog__product-card::before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  transform: translateY(111px);
  border-bottom: 1px solid #ededed;
}

.main-catalog__product-card::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  transform: translateY(-104px);
  border-top: 1px solid #ededed;
}

.main-catalog__product-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding-bottom: 24px;
  padding-top: 19px;
  align-items: center;
}

.main-catalog__product-button {
  display: block;
  width: 100%;
  padding: 10px 25px;
  background-color: #68b738;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  text-decoration: none;
}

.main-catalog__title-product {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  padding-right: 45px;
  color: #333333;
  cursor: pointer;
}

.main-catalog__link {
  flex-grow: 1;
  margin: -73px 0;
}

.main-catalog__wrapper {
  width: 142px;
}

.main-catalog__properties {
  font-family: "Arial", sans-serif;
  padding: 18px 0 22px 0;
  margin: 0;
}

.main-catalog__properties dt {
  float: left;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.main-catalog__properties dd {
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .main-catalog {
    margin-top: 65px;
  }

  .main-catalog__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    border: 0;
    margin: 0;
  }

  .main-catalog__list {
    width: 708px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self: center;
    border: 0;
  }

  .main-catalog__product-card::before {
    display: none;
  }

  .main-catalog__product-card::after {
    display: none;
  }

  .main-catalog__product-card {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 431px;
    width: 324px;
    border: 0;
    padding: 0;
    margin-top: 138px;
    background-color: #f2f2f2;
  }

  .main-catalog__properties {
    width: 250px;
    font-family: "Arial", sans-serif;
    padding-top: 21px;
    padding-bottom: 32px;
    margin: 0;
  }

  .main-catalog__title-product {
    width: 174px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-catalog__wrapper {
    width: 251px;
  }

  .main-catalog__properties dd {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 8px;
    padding-top: 9px;
    font-size: 16px;
  }

  .main-catalog__properties dt {
    border-bottom: 1px solid #cdcdcd;
    width: 44px;
    padding-bottom: 8px;
    padding-top: 9px;
    font-size: 16px;
  }

  .main-catalog__image {
    width: 168px;
    height: 200px;
  }

  .main-catalog__button {
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 39px;
  }
}
@media (min-width: 1280px) {
  .main-catalog {
    margin-top: 74px;
  }

  .main-catalog__list {
    width: 1220px;
    margin-bottom: 72px;
    justify-content: space-between;
  }

  .main-catalog__product-card {
    width: 245px;
    padding-left: 0;
    padding-right: 0;
  }

  .main-catalog__title-product {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main-catalog__properties {
    width: 170px;
    margin: 0 auto;
  }

  .main-catalog__button {
    width: 170px;
  }
}
.main-form {
  margin-top: 27px;
}

.main-form__title {
  margin: 0 auto 20px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
  text-align: left;
  color: #111111;
}

.main-form__button {
  margin-bottom: 5px;
  font-family: inherit;
  border: 0;
  margin-top: 26px;
}

.main-form__about-text {
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  margin-top: 17px;
  margin-bottom: 14px;
}

@media (min-width: 768px) {
  .main-form {
    margin-top: 65px;
  }

  .main-form__title {
    padding-left: 40px;
    font-size: 60px;
    font-weight: 400;
    border: 0;
  }

  .main-form__title-about {
    margin-top: 55px;
    margin-bottom: 65px;
    padding-left: 40px;
    width: 360px;
    padding-right: 0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .main-form__button {
    padding: 13px 45px;
    font-size: 20px;
    width: 282px;
  }

  .main-form__about-text {
    padding-right: 128px;
    flex-grow: 1;
    align-self: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 1280px) {
  .main-form {
    margin-top: 74px;
  }

  .main-form__container {
    display: flex;
    justify-content: space-between;
  }

  .main-form__title {
    margin: 0;
    padding: 0;
  }

  .main-form__title-about {
    padding: 0;
  }

  .main-form__button {
    width: 568px;
  }

  .main-form__about-text {
    margin-left: 81px;
    display: inherit;
  }
}
.stats {
  background-color: #f2f2f2;
  overflow: hidden;
}

.stats__title {
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 60px;
}

.stats__comparsion {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .stats {
    border-top: 1px solid #e6e6e6;
    background: linear-gradient(#ffffff 50%, #eaeaea 50%);
  }

  .stats__title {
    font-size: 60px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 35px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
    padding-right: 30px;
    padding-top: 5px;
    margin-bottom: 20px;
  }

  .example__list {
    width: 100%;
  }

  .example__item {
    margin-right: 42px;
    width: auto;
  }

  .example__result {
    width: 162px;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    height: 72px;
    padding-top: 14px;
  }

  .example__result-text {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    width: auto;
  }

  .example__item--last {
    margin-top: 0;
    padding-top: 5px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .example__total {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
    height: auto;
    padding-top: 7px;
  }
}
@media (min-width: 1280px) {
  .stats {
    margin-top: 69px;
    padding-bottom: 30px;
    border: 0;
    background: linear-gradient(#ffffff 22%, #eaeaea 23%);
  }

  .stats__title {
    margin-top: 0;
    margin-bottom: 132px;
  }

  .stats__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .stats__example {
    flex-grow: 1;
  }

  .example__text {
    width: 465px;
    margin-right: 56px;
    margin-bottom: 57px;
    padding-top: 0;
  }

  .example__result-text {
    background-color: #e5e5e5;
  }

  .example__list {
    width: 370px;
    margin: 0;
  }

  .example__item {
    margin-right: 0;
  }

  .example__item--last {
    width: 100%;
    flex-direction: row;
    margin-top: 33px;
    padding-top: 0;
  }

  .example__total--value {
    width: 162px;
    text-align: center;
    margin-left: 30px;
  }

  .stats__comparsion {
    width: 560px;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
  }
}
.product-card {
  position: relative;
}
.product-card::before, .product-card::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #d3d3d3;
  text-align: center;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);
}
.product-card::after {
  transform: rotate(90deg) translateX(-49%);
  margin-top: 15px;
  left: 45%;
}

.product-card__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-bottom: 3px;
}

.product-card--show-all {
  text-align: center;
  padding-top: 67px;
  min-height: 208px;
}

.product-card__subtitle {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  width: 100%;
}

.product-card__button-light {
  background-color: #f2f2f2;
  color: #444444;
  margin: 0 auto;
  max-width: 279px;
}

@media (min-width: 768px) {
  .product-card {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 431px;
    width: 324px;
    background-color: #f2f2f2;
    border: 0;
    margin-top: 100px;
    padding: 0 30px;
  }
  .product-card::before, .product-card::after {
    position: absolute;
    content: "";
    width: 60px;
    top: 23%;
  }
  .product-card::after {
    margin-top: 29px;
    left: 41%;
  }

  .product-card--show-all {
    background: 0 0;
    border: 1px solid #e6e6e6;
    margin-top: 138px;
    padding-top: 65px;
    justify-content: flex-start;
  }

  .product-card__title {
    margin-top: 90px;
    margin-bottom: 25px;
    padding: 0 75px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
  }

  .product-card__button-light {
    margin-top: 74px;
  }

  .product-card__subtitle {
    font-size: 16px;
    line-height: normal;
    width: 170px;
    align-self: center;
    margin: 0 auto;
  }
}
@media (min-width: 1280px) {
  .product-card {
    width: 245px;
    padding-left: 0;
    padding-right: 0;
  }
  .product-card::after {
    left: 38%;
  }

  .product-card__title {
    padding: 0 55px;
  }

  .product-card__button-light {
    width: 170px;
    margin-top: 74px;
  }
}
.additional {
  position: relative;
}

.additional::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 39px;
  border-top: 2px solid #68b738;
  z-index: 0;
}

.additional__title {
  padding-left: 20px;
  margin-left: calc((100% - 320px) / 2);
  font-size: 24px;
  line-height: 24px;
  background: #ffffff;
  margin-top: 25px;
  margin-bottom: 36px;
  width: 277px;
  position: relative;
}

.additional__container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-sizing: border-box;
}

.additional__table {
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0 auto;
  flex-grow: 1;
  text-align: left;
  width: 280px;
  border-top: 1px solid #cdcdcd;
  min-height: 130px;
}

.additional__table:not(:first-child) {
  border-top: 1px solid #cdcdcd;
}

.additional__table td {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  width: 50%;
  text-align: left;
}

.additional__table td:nth-child(3) {
  text-align: right;
}

.additional__table th {
  width: 100%;
  flex-grow: 1;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 13px;
  margin-top: 13px;
}

.additional__table:last-child {
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: 768px) {
  .additional {
    margin-top: 68px;
  }

  .additional__title {
    width: 410px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    padding-left: 30px;
    margin: 0;
    margin-bottom: 80px;
    margin-left: calc((100% - 768px) / 2);
  }

  .additional::before {
    top: 22px;
  }

  .additional__table {
    width: 708px;
    padding-left: 38px;
    padding-right: 38px;
    margin: 0 auto;
    border-bottom: 0;
    border: 1px solid #cdcdcd;
  }

  .additional__list {
    margin-top: 0;
  }

  .additional__table:not(:first-child) {
    border-top: 0;
  }
}
@media (min-width: 1280px) {
  .additional__title {
    padding-left: 30px;
    margin-left: calc((100% - 1280px) / 2);
  }

  .additional__container {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 87px;
  }

  .additional__list {
    display: block;
    width: 895px;
    margin-left: 0;
    margin-bottom: 0;
  }

  .additional__table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 895px;
    padding: 13px 0 16px;
    min-height: 0;
  }

  .additional__table td {
    font-family: "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 38px;
    padding-left: 50px;
  }

  .additional__table th {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    flex-grow: 1;
    width: auto;
    min-width: 40px;
    margin: 0;
  }

  .additional__table th:last-child {
    flex-grow: 0;
  }

  .additional__button {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0;
    width: 245px;
    min-height: 40px;
  }

  .additional__list tr,
.additional__list tr:last-child {
    border: 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .additional__list tr:first-child {
    border-top: 1px solid #cdcdcd;
  }
}
.gift {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 45px;
  min-height: 289px;
  width: auto;
  background-color: #68b738;
  background-image: url("../img/catalog-background-image.png");
  background-size: 280px auto;
  background-repeat: no-repeat;
  margin-top: 35px;
  margin-bottom: 35px;
}

.gift::before {
  position: absolute;
  content: "";
  width: 78px;
  height: 80px;
  top: 65px;
  left: 50%;
  background-image: url("../img/icon-gift-catalog.svg");
  background-repeat: no-repeat;
  transform: translateX(-50%);
}

.gift__text {
  display: block;
  margin-top: auto;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 90px;
}

@media (min-width: 768px) {
  .gift {
    background-image: url("../../img/catalog-bgimage-tablet.jpg");
    background-size: 707px;
    object-fit: contain;
    min-height: 200px;
    padding: 0;
    margin: 69px auto;
    padding-left: 422px;
    padding-right: 120px;
    width: 707px;
  }

  .gift::before {
    transform: translateX(-260px) translateY(-4px);
  }

  .gift__text {
    margin-top: 0;
    padding-top: 71px;
  }
}
@media (min-width: 1280px) {
  .gift {
    width: 245px;
    height: 289px;
    margin: 0;
    background-size: cover;
    padding: 42px;
  }

  .gift::before {
    transform: translateX(-38px) translateY(-4px);
  }

  .gift__text {
    margin-top: auto;
  }
}
.select-program-owner {
  position: relative;
}

.select-program-owner::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 18px;
  border-top: 2px solid #68b738;
  z-index: 0;
}

.select-program-owner__title {
  width: 221px;
  text-transform: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #111111;
  margin-bottom: 35px;
  margin-left: calc((100% - 320px) / 2);
  padding-left: 20px;
  background: #ffffff;
  position: relative;
}

.select-program-owner__wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border: 0;
  text-transform: uppercase;
  color: #222222;
}

.select-program-owner-line {
  border-top: 3px solid #68b738;
  margin-top: 26px;
}

.select-program-owner__field {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 14px;
}

.select-program-owner__icon-email {
  stroke: #222222;
  fill: none;
}

.select-program-owner__icon-phone {
  fill: #222222;
}

.select-program-owner__icon {
  display: flex;
  border: 1px solid #e6e6e6;
  align-items: center;
  width: 100%;
  margin-left: 15px;
  padding: 0 13px;
  min-height: 45px;
}
.select-program-owner__icon:focus-within {
  border: 1px solid #444444;
}
.select-program-owner__icon:focus-within .select-program-owner__icon-email {
  stroke: #68b738;
}
.select-program-owner__icon:focus-within .select-program-owner__icon-phone {
  fill: #68b738;
}

.select-program-owner__field-control {
  flex-grow: 1;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: inherit;
  padding-right: 16px;
}

.select-program-owner__field-label {
  width: 24%;
}

@media (min-width: 768px) {
  .select-program-owner {
    margin-top: 65px;
    position: relative;
  }

  .select-program-owner__wrapper {
    font-size: 20px;
    line-height: 20px;
    width: 708px;
  }

  .select-program-owner__title {
    font-size: 36px;
    line-height: 36px;
    width: 594px;
    font-weight: 400;
    padding-left: 30px;
    margin-top: 0;
    margin-left: calc((100% - 768px) / 2 + 40px);
    margin-bottom: 77px;
    position: relative;
  }

  .select-program-owner__field {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
  }

  .select-program-owner__field-control {
    height: 52px;
    padding: 14px 20px 13px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1280px) {
  .select-program-owner__title {
    padding-left: 30px;
    margin-left: calc((100% - 1280px) / 2);
    position: relative;
  }

  .select-program-owner__wrapper {
    width: 1220px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-right: 0;
  }

  .select-program-owner__field {
    width: 569px;
    padding: 0;
  }
}
.selection-form {
  padding: 0;
  border: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin: 0 0 10px;
}

.selection-form__wrapper {
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 0;
  list-style: none;
}

.selection-form__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 14px;
}

.selection-form__field-control {
  height: 45px;
  margin-left: 15px;
  padding: 12px 13px;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
  font-family: inherit;
  flex-grow: 1;
  width: 50%;
}

@media (min-width: 768px) {
  .selection-form {
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
  }

  .selection-form__wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    width: 630px;
  }

  .selection-form__item {
    padding: 0;
    margin-bottom: 20px;
  }

  .selection-form__field {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  .selection-form__field-control {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    height: 52px;
    padding: 14px 20px 13px;
    margin-left: 18px;
  }
}
@media (min-width: 1280px) {
  .selection-form-container {
    box-sizing: border-box;
    width: 1280px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 196px;
  }

  .selection-form {
    width: 569px;
    padding: 0;
    margin-bottom: 46px;
  }

  .selection-form__wrapper {
    margin: 0;
    width: 100%;
  }
}
.program-filter {
  padding: 0;
  border: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin: 33px 0 10px;
}
.program-filter::before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  transform: translateY(140px);
  border-bottom: 1px solid #ededed;
}
.program-filter::after {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  transform: translateY(-150px);
  border-bottom: 1px solid #ededed;
}

.program-filter__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.program-filter__item {
  position: relative;
  display: flex;
  min-height: 30px;
  align-items: center;
  margin-bottom: 13px;
  padding-left: 45px;
}

.program-filter__control::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  left: 0;
  top: 0;
}

.program-filter__control-input {
  display: none;
}

.program-filter__control-input:checked ~ .program-filter__control-label::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #68b738;
  top: 9px;
  left: 9px;
}

@media (min-width: 768px) {
  .program-filter {
    margin-bottom: 52px;
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
    line-height: 30px;
  }
  .program-filter::before, .program-filter::after {
    content: "";
    width: 0;
  }

  .program-filter__control-input:checked ~ .program-filter__control-label::after {
    top: 16px;
  }

  .program-filter__control::before {
    top: 7px;
  }

  .program-filter__item:first-child {
    margin-top: 26px;
  }

  .program-filter__item:last-child {
    margin-bottom: 26px;
  }

  span.program-filter__control-label {
    padding-left: 20px;
  }

  .program-filter__list {
    padding-left: 28px;
    border: 1px solid #e7e7e7;
    width: 628px;
  }

  .program-filter__item {
    padding-left: 28px;
    min-height: 40px;
  }
}
@media (min-width: 1280px) {
  .program-filter {
    width: 568px;
    margin-bottom: 46px;
    padding: 0;
    margin-top: 0;
  }

  .program-filter__list--goal {
    padding-top: 24px;
    padding-bottom: 24px;
    margin: 0;
    width: 100%;
  }

  .program-filter__item:first-child {
    margin-top: 0;
  }

  .program-filter__item:last-child {
    margin-bottom: 0;
  }
}
.selection-form-comment {
  position: relative;
}

.selection-form-comment::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 16px;
  border-top: 2px solid #68b738;
  z-index: 0;
}

.selection-form-comment__title {
  position: relative;
  text-transform: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  width: 163px;
  padding-left: 20px;
  margin-left: calc((100% - 320px) / 2);
  background: #ffffff;
}

.selection-form-comment__wrapper {
  text-transform: uppercase;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  list-style: none;
}

.selection-form-comment__wrapper--elevated {
  margin-top: 37px;
}

.selection-form-comment__text-field {
  margin-bottom: 14px;
  width: 100%;
  min-height: 150px;
  flex-grow: 1;
  height: 45px;
  padding: 12px 13px;
  border: 1px solid #e6e6e6;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .selection-form-comment {
    position: relative;
    margin-top: 45px;
  }

  .selection-form-comment__wrapper {
    width: 708px;
    margin-top: 49px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .selection-form-comment__title {
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    margin-top: 0;
    padding-left: 30px;
    margin-left: calc((100% - 768px) / 2 + 40px);
    width: 259px;
  }

  .selection-form-comment__wrapper--elevated {
    margin-top: 76px;
  }

  .selection-form-comment__text-field {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    font-family: "Oswald", "Arial", sans-serif;
    min-height: 174px;
    width: 100%;
  }
}
@media (min-width: 1280px) {
  .selection-form-comment__wrapper {
    width: 1220px;
    margin-top: 69px;
    padding: 0;
  }

  .selection-form-comment__title {
    padding-left: 30px;
    margin-left: calc((100% - 1280px) / 2);
    width: 259px;
  }
}
.selection-form-optional {
  position: relative;
}

.selection-form-optional::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 15px;
  border-top: 2px solid #68b738;
  z-index: 0;
}

.selection-form-optional__title {
  text-transform: none;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  width: 183px;
  align-self: flex-start;
  position: relative;
  padding-left: 20px;
  margin-left: calc((100% - 320px) / 2);
  margin-bottom: 35px;
  background: #ffffff;
}

.selection-form-optional__wrapper {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  padding: 0;
  border: 0;
}

.selection-form-optional__wrapper--elevated {
  margin-top: 23px;
}

.selection-form-optional__list-preferences {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}

.selection-form-optional__filter-item {
  position: relative;
  min-height: 30px;
  align-items: center;
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
}

.selection-form-optional__control {
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.selection-form-optional__control::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  left: 0;
  top: 0;
}

.selection-form-optional__input:checked + .selection-form-optional__text::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-size: 21px 16px;
  background-position: center center;
  top: 0;
  left: 0;
}

.selection-form-optional__input {
  display: none;
}

@media (min-width: 768px) {
  .selection-form-optional {
    margin-top: 63px;
  }

  .selection-form-optional::before {
    top: 21px;
  }

  .selection-form-optional__title {
    text-transform: none;
    font-size: 36px;
    line-height: 36px;
    width: 292px;
    position: relative;
    padding-left: 30px;
    margin-top: 0;
    margin-left: calc((100% - 768px) / 2 + 40px);
    background: #ffffff;
  }

  .selection-form-optional__list-preferences {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 21px;
  }

  .selection-form-optional__filter-item {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 284px;
    margin-bottom: 32px;
    min-height: 40px;
  }

  .selection-form-optional__input:checked + .selection-form-optional__text::after {
    top: 5px;
    left: 5px;
  }

  .selection-form-optional__control::before {
    width: 40px;
    height: 40px;
    top: 0;
  }

  .selection-form-optional__text {
    padding-left: 26px;
  }

  .selection-form-optional__button {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 708px;
    margin: 50px auto;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (min-width: 1280px) {
  .selection-form-optional__wrapper {
    margin: 0;
  }

  .selection-form-optional::before {
    top: 20px;
  }

  .selection-form-optional__title {
    width: 292px;
    position: relative;
    padding-left: 30px;
    margin-bottom: 57px;
    margin-left: calc((100% - 1280px) / 2);
    background: #ffffff;
  }

  .selection-form-optional__list-preferences {
    padding: 0;
    margin: 0;
    justify-content: flex-start;
  }

  .selection-form-optional__filter-item {
    width: 221px;
    padding-right: 0;
    margin-bottom: 18px;
  }

  .selection-form-optional__filter-item:not(:last-child) {
    margin-right: 104px;
  }

  .selection-form-optional__text {
    padding-left: 19px;
  }

  .selection-form-optional__button {
    margin-top: 61px;
    margin-bottom: 82px;
    width: 1220px;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */