//Шрифты//
$oswald: "Oswald", "Arial", sans-serif;
$arial: "Arial", sans-serif;

//Брэкпоинты//
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;

//Отступ на странице формы//
$padding-tablet-form: 40px;

